*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url(images/bluenebula.mp4);
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.blueNebula{
    height: 800px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blueNebula__title{
    color: #ffffff;
    font-size: 120px;
    margin-left: 10px;
}
.blueNebula__title--color{
    color: #3c409f;
    animation: apparitionTexte 3s ease-in-out forwards;
    
}
@keyframes apparitionTexte{
    from{
      opacity: 0;
      transform: translateY(-20px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.blueNebula__child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blueNebula__child p{
    width: 500px;
    font-size: 17px;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p:hover{
    color: #ffffff;
}
.blueNebula__child--button{
    margin-top: 40px;
}

.blueNebula__child--button button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #113f67;
    border: 1px solid #0c2943;
    font-weight: 800;
    margin: 20px;
}
.blueNebula__child--button button:hover{
    background-color: rgb(5, 11, 46);
    cursor: pointer;
}