*{
    margin: 0;
    padding: 0;
}

section{
    background: url(images/orangenebula.mp4);
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.orangeNebula{
    height: 800px; 
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orangeNebula__title{
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    margin-left: 10px;
}

.orangeNebula__title--color{
    color: #ffa64d;
    animation: apparitionTexte 3s ease-in-out forwards;
}
@keyframes apparitionTexte{
    from{
      opacity: 0;
      transform: translateY(-20px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.orangeNebula p{
    width: 500px;
    font-size: 23px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    color: rgb(175, 151, 151);
}

.orangeNebula p:hover{
    color: #ffffff;
}
.orangeNebula__child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orangeNebula__child--button{
    margin-top: 40px;
}

.orangeNebula__child--button button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(103, 43, 17);
    border: 1px solid #431a0c;
    font-weight: 800;
    margin: 20px;
}

.orangeNebula__child--button button:hover{
    background-color: #985c48;
    cursor: pointer;
}


.nebula{
    height: 800px;
    background: url(images/nebule.jpg);
}